<div ng-controller="CertificateController as certCtrl">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<form>
						<input type="text" class="form-control" ng-model="alias" placeholder="Insert alias"/>
						
						<input type="button" ng-click="certCtrl.readCertificate()"/>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2" ng-show="found" >
			<div class="panel panel-default">
				<div class="panel-body">
					<p>CN: {{certificateDTO.cn}}</p>
					<p>Surname: {{certificateDTO.surname}} </p>
					<p>Given Name: {{certificateDTO.givenName}} </p>
					<hr/>
					<p>Country: {{certificateDTO.counry}}</p>
					<p>Organization: {{certificateDTO.organization}} </p>
					<p>Organization Unite: {{certificateDTO.organizationUnit}}</p>
					<hr/>
					<p>Javni kljuc: {{certificateDTO.publicKey}} </p>
					<p>Datum izdavanja: {{certificateDTO.validFrom}}</p>
					<p>Datum isticanja: {{certificateDTO.validTo}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2" ng-show="{{!found}}" >
		<p>Sertifikat nije pronadjen.</p>
	</div>
</div>